<div class="product-submit">
  <%= render 'cart_line_items/product_availability', product: product %>
  <div class="flex items-center justify-start gap-x-7">
    <div class="text-input">
      <%= number_field_tag "quantity", 1, step: 1, 
        class: 'min-w-[100px]', 
        data: { "option-fee-target": "quantity", 
                "action": "input->option-fee#updatePrice" } %>
    </div>
    <% updated_price = number_to_currency(product.price) %>
    <% cta_label = content_tag(:span, "#{t('spree.add_to_cart')} — ") + content_tag(:span, updated_price, id: 'cta_price', data: { "option-fee-target": "ctaPrice" }) %>
    <%= render partial: "shared/call_to_action", :locals => { :label => cta_label, :id => 'add-to-cart-button', :url => nil } %>
  </div>
</div>
