<legend><%= option_type.presentation %></legend>
<% option_values(product: product, option_type: option_type).each do |option_value| %>
  <div>
    <label>
      <%= check_box_tag 'option_value_ids[]', option_value.id, false, 
              id: "option_value_ids_#{option_value.id}", 
              class: 'form-check-input', 
              data: { "option-fee-target": "checkbox",
              fee: option_value.fee,
              action: "option-fee#toggleExclusive option-fee#updatePrice" } %>
      <%= option_value.presentation %> <%= "+ #{number_to_currency(option_value.fee)}" if option_value.fee != 0 %>
    </label>
  </div>
<% end %>
